html {
  font-size: 125%;
  overflow-x: hidden;
  height: 100%;
  background: radial-gradient(ellipse at bottom, #3e000e 0%, #090a0f 100%);
  // overflow: hidden;
}

.wrapper {
    max-width: 1680px;
}

.innerWrapper {
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
}

img {
    width: 100%;
}

input {
  height: 45px;
  background: #3e000e;
  color: #fff;
  border: 2px solid #df96cc;
  margin: 1rem 0;
  padding: 1rem 0;
  padding: 15px;
}

h1 {
  font-family: 'Poiret One', cursive;
  // color: #df96cc;
  -webkit-text-stroke: 3px #fff; 
  text-stroke: 3px #fff;
  letter-spacing: 7px;
  font-size: 3rem;
  padding: 1.5rem 0;
}

button:focus {
  outline: none;
}

:focus {
  box-shadow: 0 0 0 0.5px #ffffff, 0 0 3px 3px #df96cc;
}  


