// COLORS

$primary: #e2804d;
$secondary: #3e000e;
$tertiary: #df96cc;

html {
  font-size: 125%;
  background: radial-gradient(ellipse at bottom, $secondary 0%, #090a0f 100%) no-repeat;
  overflow: hidden;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
    max-width: 1680px;
}

img {
    width: 100%;
    display: block;
}

input {
  height: 2rem;
  background: $secondary;
  color: #fff;
  border: 2px solid $tertiary;
  margin: 1rem 0;
  padding: 1rem 0;
  padding: 15px;
}

h1 {
  // font-family: 'Poiret One', cursive;
  // font-family: 'Cinzel', serif;
  font-family: 'IM Fell English', serif;
  -webkit-text-stroke: 3px #f9f1da;
  color:  #f9f1da;
  letter-spacing: 7px;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
}


button:focus,
input:focus {
  outline: none;
  box-shadow: 0 0 0 0.5px #ffffff, 0 0 3px 3px $tertiary;
}

