$primary: #e2804d;
$secondary: #3e000e;
$tertiary: #df96cc;
$white: #f9f1da;
$black: #090a0f;
$headlineFont: 'Poiret One', cursive;
$bodyFont: 'Hind Siliguri', sans-serif;

html {
	font-size: 125%;
	background: radial-gradient(ellipse at bottom, $secondary 0%, $black 100%)
		no-repeat;
	overflow: hidden;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	min-width: 320px;
}

.wrapper {
	max-width: 1440px;
}

img {
	width: 100%;
	display: block;
}

input {
	height: 2rem;
	background: $secondary;
	color: $white;
	border: 2px solid $tertiary;
	margin: 1rem 0;
	padding: 1rem 0;
	padding: 15px;
}

a:focus {
	text-decoration: none;
	border: transparent;
}

h1 {
	font-family: $headlineFont;
	-webkit-text-stroke: 3px $white;
	color: $white;
	letter-spacing: 7px;
	font-size: 2.5rem;
	text-transform: uppercase;
	text-align: center;
}

input:focus {
	outline: none;
	box-shadow: 0 0 0 0.5px $white, 0 0 3px 3px $tertiary;
}
