.mazeContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin-top: 10vh;

	// margin: 2rem auto;
}

.mazeLayer {
	display: grid;
	max-width: 600px;
	max-height: 600px;
	min-width: 320px;
	min-height: 320px;
	width: 50vw;
	height: 50vw;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	justify-items: center;
	position: relative;
	margin: 0 auto;
	border: 30px solid transparent;
	border-image: url('../Assets/ZoltarFrame.svg') 150 round;
}

.movingLayer {
	position: absolute;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	justify-items: center;
}

.cell {
	min-height: 27px;
	min-width: 27px;
	width: 100%;
	height: 100%;
}

.mapCell {
	height: 100%;
	width: 100%;
}
.movingCell {
	position: relative;
}

.buttonContainerMaze {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	padding: 1rem;
}

button {
	border: 3px solid #e2804d;
	background: #3e000e;

	&:hover {
	background: #e2804d;
  }
}

.controller {
	position: relative;
}

.dpad {
	position: fixed;
	width: 50vw;
	height: 10vh;
	display: none;
}

.dpadUp {
	position: absolute;
	top: 44%;
	left: 50%;
	border-top-left-radius: 25%;
	border-top-right-radius: 25%;
}

.dpadDown {
	position: absolute;
	top: 167%;
	left: 50%;
	border-bottom-left-radius: 25%;
	border-bottom-right-radius: 25%;
}

.dpadLeft {
	position: absolute;
	top: 111.5%;
	right: 49.25%;
	border-top-left-radius: 25%;
	border-bottom-left-radius: 25%;
}

.dpadRight {
	position: absolute;
	top: 111.5%;
	left: 59.5%;
	border-top-right-radius: 25%;
	border-bottom-right-radius: 25%;
}

.dpadUp,
.dpadDown {
	width: 10%;
	height: 70%;
}

.dpadLeft,
.dpadRight {
	width: 13%;
	height: 60%;

.spin {
	animation: spinMaze 15s infinite linear;
}

@keyframes spinMaze {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}

.path {
	background-color: transparent;
}

.wall {
	background-color: brown;
}

.player {
	position: relative;
	transition: all 0.3s;
}

.player::after {
	content: '';
	display: block;
	position: absolute;
	width: 200vw;
	height: 200vh;
	left: -98vw;
	top: -98vh;
	background: radial-gradient(
		circle,
		rgba(0, 0, 0, 0) 0.15vw,
		rgba(12, 9, 15, 0.5) 5vw,
		rgb(12, 9, 15) 10vw
	);
}

.coin {
	background-image: url('../Assets/coinSprite.png');
	background-position: top 0% left 0px;
	background-repeat: no-repeat;
	background-size: cover;

	/* for avatar sprite sheet */
	animation: moveSprite 0.5s steps(5) infinite;
	width: 40px;
	height: 40px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: none;
	z-index: 5;
}

.big {
	transform: scale(1.5);
	left: 0;
	top: 0;
}

@keyframes moveSprite {
	.00% {
		background-position: top 0% left -200px;
		// -200 is the width of the coin multiples by the number of steps
	}
}

.winModal {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	background-color: rgba(0, 0, 0, 0.4);
}

.winModalSub {
	position: absolute;
	width: 700px;
	height: 350px;
	background-color: rgba(0, 0, 0, 0);
	opacity: 1;

	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	animation: appear 2s;
}

@keyframes appear {
	from {
		top: -600px;
	}
	to {
		top: 0;
	}
}

.card {
	width: 100%;
	height: 100%;
	position: relative;
	perspective: 800px; /*important for the flip. The lower the value, the closer you will view the transform" */
}

.front,
.back {
	/* some styling for each card */
	position: absolute;
	height: 100%;
	width: 100%;
	//   transition: all 2s;
	backface-visibility: hidden; /*This means that when it is flipped over, we don't see the back */
	font-size: 1.4rem;
}

.front {
	background: white; /* coral */
}

.back {
	background: white; /*cornflowerblue */
	transform: rotateY(180deg); /*By Default set the back to be rotate */
}

.flipFront {
	transform: rotateY(-180deg);
	animation: flipFrontAnimation 2s;
}

.flipBack {
	transform: rotateY(0deg);
	animation: flipBackAnimation 2s;

	p {
		color: black;
	}
}

// .card:hover .back {
//   transform: rotateY(0);
// }
// .card:hover .front {
//   transform: rotateY(-180deg);
// }

@keyframes flipBackAnimation {
	from {
		transform: rotateY(180deg);
	}
	to {
		transform: rotateY(0);
	}
}

@keyframes flipFrontAnimation {
	from {
		transform: rotateY(0);
	}
	to {
		transform: rotateY(-180deg);
	}
}

// button responsive

@media (max-width: 940px) {
	.dpad {
		display: block;
	}
}

@media (max-width: 750px) {

	.dpadRight {
		position: absolute;
		top: 111.5%;
		left: 61.5%;
		border-top-right-radius: 25%;
		border-bottom-right-radius: 25%;
	}

	.dpadUp,
	.dpadDown {
		width: 12%;
		height: 70%;
	}

	.dpadLeft,
	.dpadRight {
		width: 13%;
		height: 59%;
	}
}

@media (max-width: 600px) {

	.dpadUp {
		top: 100%;
		left: 50%;
	}

	.dpadLeft {
		top: 166.5%;
		right: 49.25%;
	}

	.dpadDown {
		top: 223%;
		left: 50%;
	}

	.dpadRight {
		top: 166.5%;
		left: 64.25%;
	}

	.dpadUp,
	.dpadDown {
		width: 15%;
		height: 70%;
	}

	.dpadLeft,
	.dpadRight {
		width: 18%;
		height: 60%;
	}
}

@media (max-width: 480px) {

	.dpadRight {
		left: 69%;
	}

	.dpadUp,
	.dpadDown {
		width: 20%;
	}

	.dpadLeft,
	.dpadRight {
		width: 20%;
	}
}

@media (max-width: 320px) {
	.dpadRight {
		left: 78.5%;
	}

	.dpadUp,
	.dpadDown {
		width: 30%;
	}

	.dpadLeft,
	.dpadRight {
		width: 30%;
	}
} 