.mazeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 10vh;

  // margin: 2rem auto;
}

.mazeLayer {
  display: grid;
  max-width: 600px;
  max-height: 600px;
  min-width: 320px;
  min-height: 320px;
  width: 50vw;
  height: 50vw;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  justify-items: center;
  position: relative;
  margin: 0 auto;
  border: 30px solid transparent;
  border-image: url("../Assets/ZoltarFrame.svg") 150 round;
}

.movingLayer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  justify-items: center;
}

.cell {
  min-height: 25px;
  min-width: 25px;
  width: 100%;
  height: 100%;
}

.mapCell {
  height: 100%;
  width: 100%;
}
.movingCell {
  position: relative;
}

.buttonContainerMaze {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 1rem;
}

.trueSpin {
  animation: spin 25s infinite linear;
}

@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes pulse {
  from{
    transform:scale(0.8);
    filter:hue-rotate(50deg);
  }
  to{
    transform:scale(1);
    filter:hue-rotate(-100deg);
  }
}

@keyframes glow{
  from{
    filter:contrast(90%) brightness(0.9)
  }
  to{filter:contrast(180%) brightness(1.5)}
}
.path {
  background-color: transparent;
}

.wall {
  background-color:rgba(226, 128, 77, 0.4);
  background-image: url("https://www.transparenttextures.com/patterns/dark-brick-wall.png");
  border-radius:15%;
}

.exit {
  background: url("../Assets/globe.svg");
  background-size: cover;
  animation: glow 1s infinite linear alternate-reverse;
}
.portal {
  background: url("../Assets/portal.svg");
  background-size: cover;
  animation: spin 3s linear infinite reverse;
}
.reverse {
  background: url('../Assets/reverseTrap.svg');
  background-size: 100%;
  animation: spin 1s linear infinite;
}
.mushroom {
  background: url("../Assets/mushroom.svg");
  background-size: 100%;
  animation: pulse 0.5s infinite alternate-reverse linear;
}
.oil{
  background: url("../Assets/oilSpill.svg") no-repeat;
  background-size: contain;
}

.player {
  position: relative;
  transition: all 0.3s;
}

// .player::after {
//   content: "";
//   display: block;
//   position: absolute;
//   width: 300vw;
//   height: 300vh;
//   left: -148vw;
//   top: -148vh;
//   background: radial-gradient(
//     circle,
//     rgba(0, 0, 0, 0) 0.15vw,
//     rgba(12, 9, 15, 0.5) 6vw,
//     rgb(12, 9, 15) 15vw
//   );
// }

.coin {
  background-image: url("../Assets/coinSprite.png");
  background-position: top 0% left 0px;
  background-repeat: no-repeat;
  background-size: cover;

  /* for avatar sprite sheet */
  animation: moveSprite 0.5s steps(5) infinite;
  width: 90%;
  height: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  z-index: 5;
}

@keyframes moveSprite {
  .00% {
    background-position: top 0% left 122%;
    // -200 is the width of the coin multiples by the number of steps
  }
}

.big {
  transform: scale(1.5);
  left: 0;
  top: 0;
}



@keyframes appear {
  0% {
    transform: translateY(-20vh);
  }
  100% {
    transform: translateY(0);
  }
}


// Responsive Design

@media (max-width: 940px) {
  .dPad {
    display: block;
  }
  .mazeLayer {
    width: 65vw;
    height: 65vw;
  }
}

@media (max-width: 750px) {

}

@media (max-width: 600px) {

  .mazeLayer {
    width: 75vw;
    height: 75vw;
  }

}

@media (max-width: 480px) {

  .mazeLayer {
    width: 78vw;
    height: 78vw;
    border-image: none;
    border:2px solid $primary;
  }

}

@media (max-width: 320px) {

  .mazeLayer {
    width: 80vw;
    height: 80vw;
  }

}
