.winModal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index:999;
}

.winModalSub {
  position: absolute;
  width: 50vw;
  height: 45vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  animation: appear 1s;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  perspective: 800px; /*important for the flip. The lower the value, the closer you will view the transform" */
}

h2.cardTitle {
  text-align: center;
  margin: 0;
  padding: 0;
}

.front,
.back {
  min-width: 280px;
  background: url("../Assets/paperBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 40vh;
  width: 100%;
  padding: 5% 0;

  backface-visibility: hidden;
  font-size: 1.4rem;

  span {
    width: 80%;
  }
}

.front,
.back {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg); 
}

.flipFront {
  transform: rotateY(-180deg);
  animation: flipFrontAnimation 2s;
}

.flipBack {
  transform: rotateY(0deg);
  animation: flipBackAnimation 2s;

  p {
    color: black;
    padding: 0;
  }
}

@keyframes flipBackAnimation {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0);
  }
}

@keyframes flipFrontAnimation {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(-180deg);
  }
}

.cardTitle,
.modalWish {
  font-family: $headlineFont;
  -webkit-text-stroke: 3px $secondary;
  color: $secondary;
  letter-spacing: 2rem;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  margin-top: 1rem;

}

.cardTitle {
  font-size: 1.8rem;
  padding-bottom: 5%;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-family: $headlineFont;
}

.modalWish {
  padding: 0 3rem;
  text-align: center;
  line-height: 2rem;
  letter-spacing: 0.2rem;
  font-family: $bodyFont;
  font-size: 1.5rem;
}


.newWishButton {
  display: flex;
  justify-content: center;
  width: 10rem;
  margin: 0.5rem auto 1.5rem auto;
  background: $primary;
  border: 1px solid $primary;
  border-radius: 15px;
  color: #fff;
  font-family: $bodyFont;
  font-weight: 600;
  font-size: 1.1rem;
}

.seeWishButton:hover,
.newWishButton:hover {
  background: $tertiary;
  border: 1px solid $tertiary;
  transition: all 0.3s;
}

.finalAnswer {
  color: $primary;
  padding: 5% 5%;
  font-family: $bodyFont;
  font-weight: 500;
  letter-spacing: 1px;
}

@media (max-width: 1120px) {
  h2.cardTitle {
    font-size: 1.3rem;
  }

  .flipBack {
    p {
      font-size: 1.2rem;
      line-height: 1.2;
    }

    button {
      margin: 0 auto;
    }
  }
}

@media (max-width: 736px) {
  h2.cardTitle {
    font-size: 1.1rem;
  }

  .winModalSub {
    width: 80%;
  }
}

@media (max-width: 470px) {
  .winModalSub {
    width: 90%;
  }

  .flipBack {
    p {
    font-size: 1rem;
  }
  }
  
}
